<h1 class="center">搜索功能</h1>
<br />
<div class="todo-wrapper">
  <div class="todo-header">
    <p>添加待进行的事情：</p>
    <input type="text" (keydown)="addToDo($event)" [(ngModel)]="doing">
  </div>
  <div class="todo-wrapper" *ngIf="todoList.length">
    <h3>待完成</h3>
    <ul class="todo-list">
      <li class="todo-item" *ngFor="let item of todoList; let key = index">
        <div *ngIf="!item.done">
          <span (click)="addDone(item, key)"></span>
          <p>{{key+1 +'. ' + item.do}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="done-wrapper" *ngIf="doneList.length">
    <h3>已经完成</h3>
    <ul class="done-list">
      <li class="done-item" *ngFor="let item of doneList; let key = index">
        <div *ngIf="item.done">
          <span (click)="addToDoFromDone(item, key)"></span>
          <p>{{key+1 +'. ' + item.do}}</p>
          <span class="del center" (click)="delDone(key)">x</span>
        </div>
      </li>
    </ul>
  </div>
</div>