.todo-wrapper {
  margin: auto;
  width: 400px;
  .todo-header {
    display: flex;
    margin: auto;
    line-height: 50px;
    input {
      flex: 1;
      margin-left: 20px;
      text-indent: 20px;
    }
  }
  .todo-item div, .done-item div {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    p {
      flex: 1;
      margin: 10px 0 10px 20px;
    }
  }
  .done-list {
    background-color: rgba(0, 0, 0, .2);
    div {
      span {
        border-color: #fff;
        font-size: 30px;
        line-height: 26px;
        position: relative;
        &:first-child::before {
          content: "";
          display: block;
          width: 11px;
          height: 30px;
          border: 1px solid #fff;
          position: absolute;
          transform: rotate(45deg);
          top: -5px;
          left: 15px;
          border-top: none;
          border-left: none;
        }
      }
    }
  }
}