<h1>News Components</h1>
<hr />
<h1>{{ title }}</h1>

<br />

<h2>{{ subtitle }}</h2>

<h4>{{newsItem.author}}</h4>

<p>{{newsItem.content}}</p>

<!-- <h5>{{userInfo.username}}</h5> -->

<p>{{msg}}</p>

<span [title]="msg">含有title属性</span>

<br />
<br />

<div>
  {{htmlContent}}
</div>
<br />
绑定html：
<div [innerHTML]="htmlContent"></div>

<br />
<br />

<div>
  运算：1 + 2 = {{1+2}}
</div>

<br />
数组循环：
<ul>
  <li *ngFor="let item of arr">{{item}}</li>
</ul>
<ol>
  <li *ngFor="let item of arr2">{{item}}</li>
</ol>

<ol>
  <li *ngFor="let item of arr3">{{item}}</li>
</ol>

<span>user</span>
<ul>
  <li *ngFor="let item of users">{{item.name}} --- {{item.age}}</li>
</ul>

<br />
<br />

<ul>
  <li *ngFor="let item of arr4">{{item.id}}
    <div *ngFor="let innerItem of item.list">
      {{innerItem.title}} --- {{innerItem.price}}
    </div>
  </li>
</ul>
<hr />

