<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<!-- Header -->
<div class="app-header">
  <div class="h-user-info">
    <div class="h-u-avatar">
      <img src="../favicon.ico" alt="avatar">
    </div>
  </div>
</div>

<!-- body -->
<div class="app-body">
  <!-- <app-home></app-home> -->
  <!-- <app-news></app-news> -->
  <!-- <app-form></app-form> -->
  <!-- <app-todo></app-todo> -->
  <!-- <app-search></app-search> -->
  <!-- <app-dom></app-dom> -->
  <!-- <app-transition></app-transition> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-lifecircle [title]="title" *ngIf="flag"></app-lifecircle>
  <br>
  <br>
  <p>根组件title: {{title}} --- <button (click)="changeTitle()">changeTitle</button></p>
  <br>
  <button (click)="changeFlag()">
    <span *ngIf="!flag">挂载组件</span>
    <span *ngIf="flag">卸载组件</span>
  </button> -->
  <app-request></app-request>
</div>

<!-- footer -->
<div class="app-footer"></div>

<!-- tabbar -->
<div class="app-tabbar"></div>
<router-outlet></router-outlet>