<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<!-- Header -->
<div class="app-header">
  <div class="h-user-info">
    <div class="h-u-avatar">
      <img src="../favicon.ico" alt="avatar">
    </div>
  </div>
</div>

<!-- body -->
<div class="app-body">
  <!-- <app-home></app-home> -->
  <!-- <app-news></app-news> -->
  <!-- <app-form></app-form> -->
  <!-- <app-todo></app-todo> -->
  <!-- <app-search></app-search> -->
  <!-- <app-dom></app-dom> -->
  <!-- <app-transition></app-transition> -->
  <app-parent></app-parent>
</div>

<!-- footer -->
<div class="app-footer"></div>

<!-- tabbar -->
<div class="app-tabbar"></div>
<router-outlet></router-outlet>