.transition-wrapper {
  border: 1px solid;
  width: 90%;
  margin: 10px auto 40px;
  display: flex;
  ::after {
    content: '';
    display: block;
  }
  .content-wrapper {
    flex: 1;
    position: relative;
    transition: all 1s ease;
  }
  .aside-wrapper {
    position: relative;
    width: 20%;
    top: 0;
    background-color: #564;
    height: 800px;
    color: #fff;
    transition: all 1s ease;
  }
  .t-cleft {
    left: 0;
  }
  .t-cright {
    left: 20%;
  }
  .t-aleft {
    left: -80%;
  }
  .t-aright {
    left: 0;
  }
}