<h1>Parent Component</h1>

<br />
<hr />
<app-header
  [title]="title" 
  [msg]="msg" 
  [methodsOfParent]="methodsOfParent"
  [parent]="this"
></app-header>
<hr />

<br />
<br />

<div class="p-content">父组件</div>
<button (click)="getDataFromChild()">获取子组件数据</button>
<p>{{msg}}</p>
<button (click)="callChildMethods()">调用子组件方法</button>
<!-- <app-home *ngIf="showC === 'home'"></app-home> -->
<!-- <app-news *ngIf="showC === 'news'"></app-news> -->

<br />
<br />


<hr />
<app-footer #pfooter (outer)="run($event)"></app-footer>
<hr />