<div class="f-container center">
  <h2 class="f-header center">人员登记系统</h2>
  <div class="f-list">
    <label for="uname">
      <span class="f-l-info">姓名</span>
      <input type="text" name="uname" [(ngModel)]="peopleInfo.username" id="uname" >
    </label>
    <label for="ugender">
      <span class="f-l-info">性别</span>
      男<input type="radio" value="male" name="ugender" id="male" [(ngModel)]="peopleInfo.gender">
      女<input type="radio" value="female" name="ugender" id="female" [(ngModel)]="peopleInfo.gender">
    </label>
    <label for="ucity">
      <span class="f-l-info">居住城市</span>
      <select [(ngModel)]="peopleInfo.city">
        <option *ngFor="let item of peopleInfo.cities; let key = index" [value]="item">{{item}}</option>
      </select>
    </label>
    <div class="interests">
      <span class="f-l-info">爱好</span>
      <div class="i-list">
        <label [for]="item.title" *ngFor="let item of peopleInfo.hobby; let key = index">
          {{item.title}}<input type="checkbox" [(ngModel)]="item.checked" [name]="item" [id]="item.title">
        </label>
      </div>
    </div>
    <label for="remarks">
      <span class="f-l-info">特殊备注</span>
      <textarea name="remarks" [(ngModel)]="peopleInfo.remarks" id="remarks"></textarea>
    </label>
  </div>
  <button (click)="getFormData()" class="f-btn">获取表单数据</button>

  <br />
  <div>
    {{ peopleInfo | json }}
  </div>
</div>

