.content {
    width: 80%;
    margin: auto;
    display: flex;
    height: 500px;
    border: 1px solid #333;
    border-top: none;
    box-sizing: border-box;

    .left {
        padding:  20px;
        box-sizing: border-box;
        width: 200px;
        border-right: 1px solid #444;

        .active {
            color: red;
        }
    }

    .right {
        flex: 1;
    }
}